<h1>Editing Citizen</h1>

<%= render 'form', citizen: @citizen %>

<%= link_to 'Show', @citizen, class: 'btn btn-outline-info' %> |
<%= link_to 'Back', citizens_path, class: 'btn btn-outline-warning' %>
