<h1>Editing Address</h1>

<%= render 'form', address: @address %>

<%= link_to 'Show', @address, class: 'btn btn-outline-info'%> |
<%= link_to 'Back', addresses_path, class: 'btn btn-outline-warning' %>
